:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 4rem);
  grid-template-rows: 4rem;
  width: 32rem;
  height: 32rem;
  border: 1px solid darkgoldenrod;  
}
.cell {
  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.cell.color-black {
  background: #f1faee;
}
.cell.color-white {
  background: #1d3557;
}

.piece.black {
  color: #e63946
}

.piece.white {
  color: #fcbf49
}